page-profile {

    .circle {
        width: 60%;
        border-radius: 50%;
        margin: 25px auto 0 auto;
    }

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            width: 100%;
        }

        #my_file {
            display: none;
        }
    }
}

